/* line 10, ../sass/home.scss */
body {
  font: 20px Helvetica, sans-serif;
  color: #000000;
}

/* line 15, ../sass/home.scss */
.box {
  width: 10em;
  height: 10em;
  margin: 2em;
  float: left;
  background-color: #89cff0;
  color: #ffffff;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}
